$brand-color: #454343;
$spacing: 1.5rem;

// Containers
$container-max-width: 100.5rem;

// NAVBAR VARIABLES
$brand-spacing: 6.5rem;

// Sidebars
$user--leftaside-width: 18rem;
$user--rightaside-width: 25rem;
$user--rightaside-padding-top: $brand-spacing;
$related-stories__links-padding-top: 1.2rem;

// Forms 
$max-input-width: 23.4rem;