.brand__wrap{
  padding: 6.5rem 0;
}

.brand__logo{
  font-size: 5.2rem;
  font-style: italic;
  font-weight: 800;
  line-height: 1.15;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
.navbar{
  border-top: 0.1rem solid $brand-color;
  border-bottom: 0.1rem solid $brand-color;
  display: flex;
  flex-flow: row nowrap;
}

.navbar__toggler{
  display: none;
  width: 5rem;
}

.navbar__collapse{
  flex: 1 0 0;
}
.navbar__list{
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
 
}
.nav__link{
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.8rem;
  padding: 1.5rem 2.5rem;
}
