@import '_main-content.scss';
@import '_sidebar.scss';
main {
  margin: 0 auto;
  max-width: calc(100% - (#{$spacing} * 2)); // 30px less than main container width
  padding: ($spacing * 4) 0;
  position: relative;
}

.container--wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate3d(0px, 0, 0);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
  -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  position: relative;
  z-index: 5;
  background: #FFF;
}

.nav-open .container--wrapper {
  left: 0;
  -webkit-transform: translate3d(-250px, 0, 0);
  -moz-transform: translate3d(-250px, 0, 0);
  -o-transform: translate3d(-250px, 0, 0);
  -ms-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
}

#bodyClick {
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: 0;
  top: 0;
  left: auto;
  right: 250px;
  content: "";
  z-index: 9999;
  overflow-x: hidden;
}