@import '_main-content.scss';
@import '_sidebar.scss';

main{
  margin: 0 auto;
  max-width: calc(100% - (#{$spacing} * 2)); // 30px less than main container width
  padding: ($spacing * 4) 0;
  position: relative;
}