.stories{
  width: calc(100% - 250px);
  margin-left: auto;
  padding: 0 $spacing;
}

@media(max-width: 762px){
  .stories{
    width: 100%;
  }
}

.stories__head{
  margin-bottom: 2.8rem;
}

.stories__title{
  font-size: 2.8rem;
  text-transform: capitalize;
  margin-bottom: 1.2rem;
}

.stories__stats{
  font-size: 1.2rem;
}

.stories__views{
  float: right;
}

.stories__body{
  font-size: 1.4rem;
  text-align: justify;
}

//Accounts
.accounts__wrap{
  margin: 0 auto;
  max-width: $max-input-width;
}

.accounts__options{
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  a{
    font-size: 1.2rem;
  }
}

