.user--leftaside{
  width: 180px;
  position: absolute;
  padding: 0 $spacing;
  top: $spacing * 4;
  text-align: center;
}
.user__accounts{
  margin-bottom: 70px;
}
.user--rightaside{
  display: none;
}

@media(max-width: 762px){
  .user--leftaside{
    display: none;
  }
  .user--rightaside {
    border-left: 2px solid $brand-color;
    display: block;
    height: 100%;
    padding: 6.5rem 1.5rem 0  1.5rem;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 250px;
  }
}

.user--sticky{
  position: fixed;
}

.user__icons{
  display: flex;
  justify-content: space-between;
  a{
    font-weight: bold;
  }
}

.related-stories__item{
  border-bottom: 1px solid $brand-color;
  &:first-child{
    font-weight: bold;
    text-transform: uppercase;
  }
}
.related-stories__links{
  display: block;
  font-size: 1.4rem;
  padding: 1.2rem 0;
  text-align: left;
}