// FORMS
.form__fieldset{
  border: 0;
  border-top: 0.2rem solid $brand-color;
  padding: $spacing;
}

.form__block{
  margin-bottom: 2rem;
  &:last-child{
    margin-bottom: 0;
  }
}

.form__input{
  border: 0.1rem solid $brand-color;
  height: 3rem;
  outline: 0;
  padding: 1rem 1.2rem;
}