
[class*='icons__']{
  align-content: center;
  align-items: center;
  border: 2px solid $brand-color;
  border-radius: 100%;
  display: flex;
  font-size: 1.8rem;
  height: 3rem;
  justify-content: center;
  line-height: 1.8rem;
  width: 3rem;
}