*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #454343;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body, ul, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: 0;
}

.mt-0 {
  margin-top: 0 !important;
}

[class*='icons__'] {
  align-content: center;
  align-items: center;
  border: 2px solid #454343;
  border-radius: 100%;
  display: flex;
  font-size: 1.8rem;
  height: 3rem;
  justify-content: center;
  line-height: 1.8rem;
  width: 3rem;
}

.form__fieldset {
  border: 0;
  border-top: 0.2rem solid #454343;
  padding: 1.5rem;
}

.form__block {
  margin-bottom: 2rem;
}

.form__block:last-child {
  margin-bottom: 0;
}

.form__input {
  border: 0.1rem solid #454343;
  height: 3rem;
  outline: 0;
  padding: 1rem 1.2rem;
}

.container {
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 100.5rem;
}

.brand {
  position: relative;
}

.brand__wrap {
  padding: 6.5rem 0;
}

.brand__logo {
  font-size: 5.2rem;
  font-style: italic;
  font-weight: 800;
  line-height: 1.15;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.navbar {
  border-top: 0.2rem solid #454343;
  border-bottom: 0.2rem solid #454343;
  display: flex;
  flex-flow: row nowrap;
}

.navbar__collapse {
  flex: 1 0 0;
}

.navbar__list {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.nav__link {
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.8rem;
  padding: 1.5rem 2.5rem;
}

.brand__toggler {
  display: none;
}

@media (max-width: 762px) {
  .brand__toggler {
    display: block;
    position: absolute;
    right: 0;
    bottom: 1.5rem;
  }
  .brand__button {
    border: 0;
    background-color: transparent;
    font-size: 2.5rem;
  }
}

.stories {
  width: calc(100% - 250px);
  margin-left: auto;
  padding: 0 1.5rem;
}

@media (max-width: 762px) {
  .stories {
    width: 100%;
  }
}

.stories__head {
  margin-bottom: 2.8rem;
}

.stories__title {
  font-size: 2.8rem;
  text-transform: capitalize;
  margin-bottom: 1.2rem;
}

.stories__stats {
  font-size: 1.2rem;
}

.stories__views {
  float: right;
}

.stories__body {
  font-size: 1.4rem;
  text-align: justify;
}

.user--leftaside {
  position: absolute;
  padding: 0 1.5rem;
  top: 6rem;
  text-align: center;
  width: 18rem;
}

.user__accounts {
  margin-bottom: 7rem;
}

.user--rightaside {
  display: none;
}

@media (max-width: 762px) {
  .user--leftaside {
    display: none;
  }
  .user--rightaside {
    border-left: 0.2rem solid #454343;
    display: block;
    height: 100%;
    padding: 6.5rem 1.5rem 0 1.5rem;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 25rem;
  }
}

.user--sticky {
  position: fixed;
}

.user__icons {
  display: flex;
  justify-content: space-between;
}

.user__icons a {
  font-weight: bold;
}

.related-stories__item {
  border-bottom: 1px solid #454343;
}

.related-stories__item:first-child {
  font-weight: bold;
  text-transform: uppercase;
}

.related-stories__links {
  display: block;
  font-size: 1.4rem;
  padding: 1.2rem 0;
  text-align: left;
}

main {
  margin: 0 auto;
  max-width: calc(100% - (1.5rem * 2));
  padding: 6rem 0;
  position: relative;
}

@media (max-width: 762px) {
  main {
    max-width: 100%;
  }
  .container--wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    position: relative;
    z-index: 5;
    background: #FFF;
  }
  .nav-open .container--wrapper {
    left: 0;
    -webkit-transform: translate3d(-25rem, 0, 0);
    -moz-transform: translate3d(-25rem, 0, 0);
    -o-transform: translate3d(-25rem, 0, 0);
    -ms-transform: translate3d(-25rem, 0, 0);
    transform: translate3d(-25rem, 0, 0);
  }
  #bodyClick {
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
    top: 0;
    left: auto;
    right: 25rem;
    content: "";
    z-index: 9999;
    overflow-x: hidden;
  }
}
/*# sourceMappingURL=style.css.map */